@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.otf')  format('opentype'),
		url('../fonts/Gilroy-Bold.otf.woff') format('woff'), 
		url('../fonts/Gilroy-Bold.ttf')  format('truetype'), 
		url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Light';
	src: url('../fonts/Gilroy-Light.eot') format('embedded-opentype'),
		url('../fonts/Gilroy-Light.otf')  format('opentype'),
		url('../fonts/Gilroy-Light.otf.woff') format('woff'), 
		url('../fonts/Gilroy-Light.ttf')  format('truetype'), 
		url('../fonts/Gilroy-Light.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'),
		url('../fonts/Gilroy-Regular.otf')  format('opentype'),
		url('../fonts/Gilroy-Regular.otf.woff') format('woff'), 
		url('../fonts/Gilroy-Regular.ttf')  format('truetype'), 
		url('../fonts/Gilroy-Regular.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/Gilroy-SemiBold.eot') format('embedded-opentype'),
		url('../fonts/Gilroy-SemiBold.otf')  format('opentype'),
		url('../fonts/Gilroy-SemiBold.otf.woff') format('woff'), 
		url('../fonts/Gilroy-SemiBold.ttf')  format('truetype'), 
		url('../fonts/Gilroy-SemiBold.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KapraNeue-Medium';
	src: url('../fonts/KapraNeue-Medium.eot') format('embedded-opentype'),
		url('../fonts/KapraNeue-Medium.otf')  format('opentype'),
		url('../fonts/KapraNeue-Medium.otf.woff') format('woff'), 
		url('../fonts/KapraNeue-Medium.ttf')  format('truetype'), 
		url('../fonts/KapraNeue-Medium.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KapraNeue-MediumExpanded';
	src: url('../fonts/KapraNeue-MediumExpanded.eot') format('embedded-opentype'),
		url('../fonts/KapraNeue-MediumExpanded.otf')  format('opentype'),
		url('../fonts/KapraNeue-MediumExpanded.otf.woff') format('woff'), 
		url('../fonts/KapraNeue-MediumExpanded.ttf')  format('truetype'), 
		url('../fonts/KapraNeue-MediumExpanded.svg#Gilroy-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}