/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
    .slick-prev{
        left:0;
    }
    .slick-next{
        right: 0;
    }
    .circle-wrap.three{
        left: 492px;
    }
    .circle-wrap.four{
        left: 686px;
    }
}

@media only screen and (max-width : 1200px) {
    .circle-wrap.four{
        left: auto;
        right: 365px;
    }
    .slick-arrow, .review-slider .slick-arrow{
        background: none;
        height: auto;
        width: auto;
    }
    .dropdown.menu a{
        padding: 0.7rem .5rem;
    }
}
@media only screen and (max-width : 1024px) {
    .dropdown.menu a{
        padding: 0.7rem 1rem;
    }   
    .cta{ display: none; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {    
    .dropdown.menu a {
        padding: 0.7rem .8rem;
    }
    .circle-wrap{     
        &.one{
            left: 100px; 
        }
        &.two{
            left: 130px; 
        }
        &.three{
            left: 320px; 
        }   
        &.four{
            right: auto;
            left: 350px; 
        }

    }
    .review-feedback p{
        padding: 0 20px;
    }         
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {  
    h2, .banner h2, .bg-green h2{
        font-size: 36px;
        line-height: 36px;
    }
    .banner .content{
        padding-right: 20px;
        padding-left: 20px;
    }
    .slider-img{
        text-align: center;
        img{
            display: inline-block;
        }
    }
    .slider-img, .slider-text{
        padding-bottom: 30px;
        width: 100%;
    }
    .hide-for-small-only{
        display: none;
    }    
    .show-for-small-only{
        display: block;
    }       
    .review-content .ratings img{
        width: 50px;
    }
    .review-content p{
        font-size: 18px;
    }
    .review-feedback p{
        line-height: 1.1;
        font-size: 35px;
    }
    .logo{
        display: block;
        width: 100%;
        text-align: center;
    }
    .mobile-navwrap{
        display: block;
    }
    .menu-wrap{
        position: absolute;
        display: none;
        top: 102px;        
        width: calc(100% + .9375rem + .9375rem) !important;
        margin-left: -.9375rem;
    }
    .menu{
        padding-bottom: 15px;
        background: #fff;
        li{
            width: 100%;
        }
    }
}
@media only screen and (max-width : 640px) {
    .menu-wrap{
      
        width: calc(100% + .625rem + .625rem) !important;
        margin-left: -.625rem;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .benefits-img, .benefits-content{
        text-align: center;
        display: block;
        width: 100%;
    }
    .bg-green .button{
        margin: 0 0 15px;
        line-height: 20px;
        padding-top: 13px;
        img{
            margin-top: 5px;
        }
    }
    .top-footer .content{
        padding: 0 15px;
    }
     .review-feedback p{
        padding: 0 50px;        
        font-size: 20px;
    }
    .review-feedback p.author{
        font-size: 24px;
    }
    .review-feedback p.author small{
        font-size: 14px;
    }
    footer{
        text-align: center;
    }
    .social{
        width: 100%;
        text-align: center;
        li{
            padding: 0 10px;
        }
    }
    .review-content{
        width: 100%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}