$green : #46B374;
$white : #fff;

body{
	background: url('../img/background.jpg') center top no-repeat;
	font-family: 'Gilroy-Regular';
	background-attachment: fixed;
	background-size: cover;
	font-size: 16px;
}
h2{
	font-family: 'KapraNeue-Medium';	
	color: #46B374;
	font-size: 70px;
	letter-spacing: 5px;
	line-height: 84px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
	width: 100%;
	span{
		font-family: 'Gilroy-SemiBold';
		letter-spacing: normal;
		text-transform: none;
		line-height: 24px;
		font-size: 18px;
		color: #969696;
		display: block;
		margin-top: 5px;
	}
}
h5{
	font-family: 'Gilroy-Bold';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px;				
	color: $green;
}
a{
	@include transition(.5s);
}
img{
	max-width: 100%;
}
.button, a.button {
	min-height: 60px;
	max-width: 260px;
	width: 100%;
	@include radius(30px);
	background-color: #46B374;
	@include shadow (0 2px 10px 0 rgba(70, 179, 116, 0.1));
	border-bottom: 3px solid #3ca066;
	font-family: Helvetica;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 60px;
	padding: 0;
	font-size: 16px;
	&:hover{
		background: #fff;
		color: $green;
	}
}	
header{
	background:#fff url('../img/stars.png') left 0 no-repeat;
	position: relative;
	min-height: 120px;
	padding-top: 17px;
	&:after{
		background: url('../img/stripes.png') right 0 no-repeat;
		position: absolute;
		min-height: 120px;
		display: block;
		content: '';
		width: 100%;
		right: 0;
		z-index: 0;
		top: 0;
	}
	*{
		position: relative;
		z-index: 1;
	}
	.button{
		border: 2px solid #46B374;
		font-family: 'Gilroy-SemiBold';
		@include radius(0);
		letter-spacing: 1px;
		margin-top: 14px;
		background: none;
		text-align: center;
		min-height: 55px;
		min-width: 209px;
		padding: 0 11px;
		line-height: 51px;
		font-size: 18px;
		color: $green;
		&:hover{
			background: $green;
			color: #fff;
		}
		img{
			margin-top: 11px;
			float: left
		}
	}
}
.menu{
	padding-top: 20px;
	li{
		font-family: 'KapraNeue-Medium';
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 20px;		
		a{
			color: #5E5E5E;		
			&:hover{
				color: $green;
			}
		}
	}
}
.logo{

}
.banner{
	min-height: 619px;
	.content{
		box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.2);
		background: rgba(255, 255, 255, .9);
		@include radius(7px);
		text-align: center;
		max-width: 890px;
		margin: 60px auto;
		padding: 41px 110px 0;
		min-height: 400px;
		width: 100%;
	}
	h2{
		font-family: 'KapraNeue-Medium';
		text-transform: uppercase;
		margin-bottom: 20px;		
		letter-spacing: 3px;
		line-height: 61px;
		font-size: 50px;
		color: $green;
	}
	p{
		font-family: 'Gilroy-Light';
		margin-bottom: 40px;
		line-height: 32px;
		font-size: 24px;
	}		
}
.circle{
	box-shadow: 0 2px 15px 0 #46B374;
	@include radius(100px);
	border: 3px solid #fff;
	background: $green;
	position: absolute;
	cursor: pointer;
	height: 39px;
	width: 39px;
	&-container{
		position: relative;
		min-height: 431px;
	}
	&-wrap{
		position: absolute;
		&.one{
			left: 60px;
			.circle-img{

			}
		}
		&.two{
			top: 171px;
			left: 241px;
		}
		&.three{
			top: 26px;
			left: 682px;
		}
		&.four{
			top: 159px;
			left: 896px;
		}
	}
	&-content{
		box-shadow: 1px 3px 20px 0 rgba(70,179,116,0.3);
		@include transition(.5s);
		position: absolute;
		@include radius(100px);
		text-align: center;
		background: $white;
		z-index: 9;
		width: 195px;
		height: 195px;
		left: -70px;
		top: -80px;
		visibility: hidden;
		opacity: 0;
		.text-wrap{
			@include transform(translateY(-50%));
			position: absolute;
			padding: 0 30px;
			top: 50%;			
			p{
				margin: 0;
			}				
		}
	}
	&-img{
		@include shadow(1px 3px 20px 0 rgba(70,179,116,0.3));
		@include transition(.5s);
		border: 10px solid #FFFFFF;
		@include radius(100%);
		position: absolute;
		overflow: hidden;	
		visibility: hidden;	
		opacity: 0;
		height: 301px;
		width: 301px;
		left: 78px;
		top: -80px;
		z-index: 7;
	}	
	&-active{
		.circle-content, .circle-img{
			visibility: visible;
			opacity: 1;
		}
	}
}
.home-content{
	background: #f8f8f8;
	min-height: 800px;	
	margin-top: 75px;
	overflow: visible;
	&:before{
		background: url('../img/bg-home.png') center top no-repeat;
		position: absolute;
		margin-top: -75px;
		display: block;
		content: '';
		height: 75px;
		width: 100%;
		left: 0;
	}
}
.slick-arrow{
	@include transform(translateY(-50%))
	@include radius(118px);
	position: absolute;
	text-align: center;
	background: #fff;
	cursor: pointer;
	height: 118px;
	width: 118px;
	z-index: 99;
	top: 50%;
	
}
.slick-next{
	right: -86px;
	img{
		@include transform(rotate(180deg));
	}
}
.slick-prev{			
	left: -86px;			
}
.slider{
	&-home{		
		.slick-dots{
			text-align: center;
			width: 100%;
			margin: 0 0 58px;
			li{
				text-align: center;
				display: inline-block;
				padding: 0 10px;
				button {
					@include transition(.5s);
					background-color: #d0d0d0;
					border-radius: 5px;
					display: block;
					font-size: 0;
					height: 5px;
					width: 20px;
					cursor: pointer;
				}
				&.slick-active{
					button{
						background: $green;
					}
				}
			}
		}
	}	
	&-content{
		width: 100%;
		margin: 94px auto 24px;		
		min-height: 518.5px;
		max-width: 1040px;
		border: 3px solid #D8D8D8;
		/*box-shadow: 0 0 20px 0 rgba(70,179,116,0.25);*/
		padding: 0 41px 0 36px;
		text-align: center;
		position: relative;
		z-index: 9;
		&:after{
			content: '';
			display: block;
			height: 0;
			width: 100%;
			clear: both;
		}
		h2{
			display: inline-block;
			width: auto;
			padding-right: 30px;
			padding-left: 30px;
			margin-top: -43px;
			background: #f8f8f8;
			margin-bottom: 42px;
		}
	}

	&-text{
		width: 47.1264367816092%;
		text-align: left;
		float: left;
		h5{
			margin-bottom: 30px;
			line-height: 24px;
			color: #969696;
		}
		p{
			font-family: 'Gilroy-Light';
			margin-bottom: 20px;
			line-height: 26px;
			font-size: 16px;
			color: #142736;
		}
		.button{
			margin-top: 10px;
		}
	}
	&-img{
		width: 47.7533960292581%;
		float: right;
	}
	&-item{
		outline: none;
		width: 100%;
	}
}
.spacer{
	margin-bottom: 69px;
	width: 100%;	
	height: 6px;
	background: #fff;
}
.benefits{	
	&-img, &-content{
		display: table-cell;
		vertical-align: middle;
	}
	&-img{
		width: 190px;
	}
	&-content{
		p{
			color: #142736;
			font-size: 16px;
			line-height: 26px;
		}
		h5{			
			line-height: 24px;								
		}
	}	
	&-container{
		.cell{
			padding-bottom: 44px;
			&:last-child{
				padding-bottom: 0;
				margin: 0 auto;
				float: none;
			}
		}
	}
}
.bg-green{
	padding: 67px 0 40px 0;
	text-align: center;
	background: $green;
	color: #fff;
	h2{
		color: #fff;
		font-size: 60px;
		letter-spacing: 4px;
		max-width: 715px;
		margin: 0 auto 10px;
		line-height: 73px;
		width: 100%;
	}
	h5{
		max-width: 690px;
		margin: 0 auto 29px;
		width: 100%;
		font-family: 'Gilroy-SemiBold';
		line-height: 24px;
		text-transform: none;
		color: #fff;
	}
	.button{
		background: #fff;
		border: none;
		color: $green;
		padding-left: 25px;
		padding-right: 25px;
		max-width: 400px;
		width: 100%;
		margin: 0 20px 5px;
		img{
			margin-top: 15px;
			float: left;
		}
	}
	p{
		font-family: 'Gilroy-Light';
	}
}
.review{
	&-container{
		position: relative;
		padding-top: 80px;	
		overflow: hidden;	
		.slick-list{
			padding-bottom: 80px !important;
			padding-top: 80px !important;
		}
		iframe{
			position: absolute;
			z-index: 0;			
			width: 100%;
			height: 100%;
		}
	}
	&-slider{		
		height: 750px;	
		width: 100%;
		overflow: visible;
		.slick-arrow{
			background: $green;			
		}
		.slick-next{
			right: 5.736111111111111%;					
		}
		.slick-prev{			
			left: 5.736111111111111%;			
		}		
	}	
	&-item{		
		background-color: rgba( 255, 255, 255, 0.8);
		box-shadow: 0 2px 30px 0 rgba( 0, 0, 0, 0.2);	
		
		&.slick-current{
			background: none;
			box-shadow: none;	
			.review-content{	
				height: 583px;			
				.bg{
					@include transform(scale(1.1));
				}

			}
		}
	}
	&-content{		
		height: 497px;
		width: 78.40277777777778%;
		margin: 0 auto;
		text-align: center;		
		position: relative;
		.bg{
			background-color: rgba( 255, 255, 255, 0.8);
			box-shadow: 0 2px 30px 0 rgba( 0, 0, 0, 0.2);		
			@include transition(.8s);
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
		}
		*{
			position: relative;
			z-index: 1;
		}
		.ratings{
			padding-top: 49px;
			margin-bottom: 13px;
			img{
				display: inline-block;
			}
		}
		p{
			font-family: 'KapraNeue-Medium';	
			margin-bottom: 66px;
			letter-spacing: 4px;
			text-align: center;
			line-height: 40px;
			font-weight: 500;
			font-size: 40px;
			color: #142736;			
		}
	}
	&-feedback{		
		max-width: 795px;
		width: 100%;
		margin: 0 auto;
		&:before, &:after{
			background: url('../img/quote-mark.png') 0 0 no-repeat;
			position: absolute;
			display: block;
			content: '';
			width: 50px;
			height: 46px;
			left: 0;
			top: 0;
		}
		&:after{
			@include transform(rotate(180deg));
			left: auto;
			right: 0;
		}
		p{
			font-family: 'Gilroy-Bold';
			margin-bottom: 30px;
			font-weight: normal;
			letter-spacing: 3px;
			line-height: 55px;
			font-size: 45px;
			padding: 0 160px;
			color: #999899;
			&.author{
				font-family: 'Gilroy-Light';
				line-height: 33px;
				text-align: left;
				font-size: 28px;
				color: #3B3B3B;
				float: right;
				padding: 0;
				small{
					padding-left: 34px;
					line-height: 26px;
					font-size: 16px;
					color: #142736;
					display: block;
				}					
			}			
		}
	}
}
.table-container{
	padding-bottom: 87px;
	padding-top: 100px;
	h2{
		margin-bottom: 60px;
	}
	h5{
		color: #46B374;
		font-size: 18px;
		line-height: 24px;
	}
	.cell{
		padding: 0 30px;
	}
}
.custom-table{
	box-shadow: 0 2px 25px 0 rgba(70,179,116,0.2);
	padding-bottom: 45px;
	background: #fff;
	max-width: 1300px;
	margin: 0 auto 60px;
	width: 100%;
	overflow: auto;
	table{
		max-width: 1200px;
		text-align: center;
		margin: 0 auto;
		min-width: 700px;
		width: 100%;
		background: none;
		text-transform: uppercase;
		border: none;
		tbody{
			border: none;
		}
		tr{
			background: none !important;
			border-bottom: 1px solid #cccbcc;
			&:first-child{
				border-bottom: 4px solid #cccbcc;					
				td{	
					background: none !important;
					padding-bottom: 18px;
					padding-top: 40px;
					color: #46B374;
					font-family: 'KapraNeue-MediumExpanded';
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					vertical-align: bottom;
					border: none;
				}
			}
			td{								
				padding: 10px 10px;
				width: 12.5%;					
				&:first-child{
					font-family: 'Gilroy-SemiBold';
					text-transform: none;
					color: #98A3A9;
					font-size: 16px;
					line-height: 16px;
					width: 20.83333333333333%;	
				}
				&:second-child{
					width: 16.66666666666667%;
				}
				&:nth-child(2n+1){
					background: #f9f9f9;
				}
			}
		}		
	}
	.table{
		
		&-heading, &-col{
			width: 100%;
			float: left;
		}		
		&-heading{
			border-bottom: 4px solid #cccbcc;
			h5{				
				display: table;
				vertical-align: bottom;
				height: 60px;
				width: 100%;
			}
		}
		&-cell{
			width: 12.5%;
			float: left;
			&.row-1{
				width: 20.83333333333333%;
			}
			&.row-2{
				width: 16.66666666666667%;
			}					
		}
		&:after{
			clear: both;
			content: '';
			height: 0;
			display: block;
		}
		&-col{
			border-bottom: 1px solid #cccbcc;
		}
	}
}
.top-footer{
	padding: 75px 15px 45px;	
	background: #f6f6f6;
	h2{
		margin-bottom: 67px;
	}
	.content{		
		border: 3px solid #D8D8D8;
		padding: 0 45px;
		max-width: 361px;
		margin: 0 auto 30px;
		width: 100%;
		text-align: center;
		&.right{
			max-width: 502px;
		}
		p{
			background: url('../img/bg-border.gif') 0 bottom repeat-x;
			text-align: left;
			font-family: 'Gilroy-SemiBold';
			text-transform: uppercase;
			font-size: 16px;
			line-height: 19px;
			color: #828ca3;
			padding-bottom: 18px;
			margin-bottom: 12px;
			&.num{
				color: #46B374;
				font-family: 'KapraNeue-Medium';	
				font-size: 42px;
				letter-spacing: 1px;
				line-height: 50px;
				margin-top: -40px;
				margin-bottom: 26px;
			}
			a{
				color: #46B374;
			}
			&:last-child{
				line-height: 1.5;
				background: none;
			}
		}
		.img{
			display: inline-block;
			text-align: center;
			background: #f6f6f6;
			padding-left: 50px;
			padding-right: 50px;
			position: relative;
			top: -23px;
		}

		form{
			padding-top: 4px;
			input[type="text"], input[type="email"], input[type="num"], input[type="password"]{
				margin-bottom: 30px;
				padding: 0 20px;
				border: none;
				height: 60px;
				max-width: 385px;
				width: 100%;
				background-color: #FFFFFF;
				box-shadow: inset 0 -2px 0 0 #D8D8D8, 3px 3px 15px 0 rgba(70,179,116,0.35);					
				&:focus{
					box-shadow: inset 0 -2px 0 0 #46B374, 3px 3px 15px 0 rgba(70,179,116,0.35);	
				}
			}			
		}
		
	}
}
footer{
	background-color: #494949;
	font-family: 'Gilroy-Light';
	padding: 30px 35px 0;
	letter-spacing: 1px;
	color: #fff;	
	p{
		margin-bottom: 20px;
		span{
			padding: 0 10px;
		}
		img{
			margin-right: 10px;
		}
	}
}
.social{
	text-align: right;
	padding: 9px 0 0;
	margin: 0;
	li{
		display: inline-block;
		list-style-type: none;
		padding: 0 20px;
	}
}
.show-for-small-only, .mobile-navwrap{
	display: none;
}
.mobile-nav{
	
	margin: 35px 0 0 40px;
	display: block;
	float: right;
	color: $green;
	img{
		margin-right: 10px;
	}
}